.slideshow {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  position: relative;
  top: 0;
  display: inline-block;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

@media(max-width: 500px) {
  /* .slide {
    height: 400px;
  } */
}

@media(max-width: 300px) {}