.slideshow {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  position: relative;
  top: 0;
  display: inline-block;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.slider-content {
  color: white;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(0, 0%, 0%, .6);
  padding: clamp(2rem, 7vw, 10rem);
  padding-top: clamp(3rem, 17vw, 9rem);
}

.slider-content p,
.slider-content h1 {
  max-width: 550px;
  margin-right: auto;
  white-space: pre-wrap;
}

.slider-content h1 {
  font-size: 1.5rem;
  animation: show-text 1.8s;
  animation-fill-mode: forwards;
}

.slider-content p {
  font-size: 1.2rem;
  animation: show-text 2s;
  animation-fill-mode: forwards;
}

@keyframes show-text {
  from {
    opacity: 0;
    margin-left: 20%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}