@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@300;400;500;600&display=swap');

.home-slider {
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-350-item {
    flex-basis: 350px;
    flex-grow: 1;
}

.flex-280-item {
    flex-basis: 280px;
    flex-grow: 1;
}

.flex-450-item {
    flex-basis: 450px;
    flex-grow: 1;
}

.flex-400-item {
    flex-basis: 400px;
    flex-grow: 1;
}

.about-us {
    padding: 3rem clamp(1rem, 4vw, 8rem);
    background: hsl(0, 2%, 91%);
    border-radius: 4px;
    margin: clamp(.5rem, 4vw, 4rem);
    gap: 3rem;
}

.about-us iframe {
    max-height: clamp(300px, 100vh, 320px);
}

.about-us h2,
.what-we-do h2,
.join h2 {
    color: hsl(217, 73%, 12%);
}

.contact-btn {
    background: hsl(121, 44%, 49%);
    padding: 1rem 1.5rem;
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    display: block;
    margin: 1rem 0;
    width: fit-content;
    height: fit-content;
    transition: all .1s ease;
}

.contact-btn:hover {
    color: white;
    cursor: pointer;
}

.what-we-do {
    padding: 2rem clamp(1rem, 3vw, 8rem);
    margin: clamp(.5rem, 4vw, 4rem);
    background: whitesmoke;
}

.what-we-do p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Work Sans";
}

.what-we-do h3 {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-family: "Work Sans";
}

.what-we-do>div {
    gap: 1rem;
    margin: 2rem 0;
    justify-content: space-between;
}

.what-we-do>div div {
    background: hsl(191, 100%, 43%);
    padding: clamp(1rem, 2vw, 3rem);
    border-radius: 3px;
    color: white;
    max-width: 200px;
    max-height: 190px;
    margin: 0 auto;
}

.what-we-do>div img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: rgba(37, 227, 154, 0.6);
    padding: 1rem;
}

.join {
    position: relative;
    overflow: hidden;
    background: hsl(217, 73%, 12%);
    color: white;
    padding: 4rem clamp(1rem, 7vw, 8rem);
    align-items: center;
    gap: 2rem;
}

.join .bg1 {
    position: absolute;
    opacity: .1;
    max-height: 100%;
    left: 0;
    pointer-events: none;
}

.join .bg2 {
    position: absolute;
    opacity: .1;
    max-height: 100%;
    right: -10%;
    pointer-events: none;
    transform: rotate(90deg);
}

.join h2 {
    color: hsl(0, 0%, 100%);
    text-align: left;
}

.join p {
    margin: 0;
    text-align: left;
}

.join .suscribe {
    display: flex;
    justify-content: right;
    height: fit-content;
    margin-top: .4rem;
}

.join .suscribe>div {
    background: white;
    width: fit-content;
    height: fit-content;
}

.join button,
.join input {
    font-size: 1rem;
    font-family: "Work Sans";
    border: none;
    height: fit-content;
    background: transparent;
    height: fit-content;
    padding: 0 1rem;
    margin: 1rem 0;
}

.join button {
    border-left: 1px solid hsl(217, 73%, 12%, 0.5);
    color: hsl(166, 99%, 41%);
    cursor: pointer;
    font-weight: 500;
}

.testimony {
    color: white;
    padding: 2rem clamp(1rem, 4vw, 4rem);
    margin: 2rem clamp(1rem, 4vw, 4rem);
    background: hsl(217, 73%, 12%);
    position: relative;
    overflow: hidden;
}

.testimony .bg1 {
    position: absolute;
    max-height: 10rem;
    left: -10%;
    opacity: .1;
    transform: rotate(-90deg);
    pointer-events: none;
}

.testimony .bg2 {
    position: absolute;
    max-height: 10rem;
    bottom: -20%;
    opacity: .1;
    left: 40%;
    transform: rotate(-90deg);
    pointer-events: none;
}

.testimony .bg3 {
    position: absolute;
    max-height: 10rem;
    right: -2rem;
    top: 0;
    opacity: .1;
    pointer-events: none;
}

.testimony h2 {
    margin: 0 0 1rem 0;
}

.testimony>div {
    margin-right: clamp(1rem, 7vw, 8rem);
    margin-bottom: 2rem;
}

.testimony>div div {
    margin-top: 2rem;
}

.testimony figure img {
    width: 100%;
}

.testimony button {
    color: white;
    border: none;
    background: hsl(157, 77%, 52%);
    height: 45px;
    width: 45px;
    font-size: 18px;
}

.testimony button:nth-child(2) {
    margin-left: 2rem;
}

@media(max-width: 400px) {
    .join button {
        border: 0px;
    }
}

@media(max-width: 900px) {
    .about-us figure img:nth-child(2) {
        width: 50%;
        transform: translate(100%, -70%);
    }
}

@media(max-width: 916px) {

    .about-us figure {
        margin-bottom: 0rem;
    }

    .about-us figure img:nth-child(2) {
        width: 50%;
        transform: translate(100%, -70%);
    }

    .join .bg1 {
        top: -50%;
    }

    .join .bg2 {
        display: none;
    }
}

@media(max-width: 600px) {
    .testimony .bg1 {
        left: -6rem;
    }

    .testimony .bg3 {
        top: 50%;
        right: -30%;
        transform: rotate(90deg);
    }
}

@media(max-width: 1100px) {
    .testimony .bg2 {
        display: none;
    }
}