.top-scroll {
  position: fixed;
  z-index: 5;
  bottom: 10%;
  right: 0;
  border: none;
  padding: .5rem;
  width: 40px;
  font-size: 1.5rem;
  background: hsl(217, 73%, 12%, .6);
  color: white;
  cursor: pointer;
}